* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Nunito Sans', sans-serif;
}

.head-bar {
  padding: 1.4rem 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 3px 3px 5px hsl(0, 0%, 80%);
  box-sizing: border-box;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 2;
}

.head-bar p {
  margin-left: 0.5rem;
  font-weight: 600;
}

.head-bar h2 {
  letter-spacing: 0.1rem;
}

.home {
  height: min-content;
}

.country-card-container {
  min-height: 70vh;
  height: min-content;
  padding: 0 1rem;
  display: flex;
  align-content: center;
  justify-content: space-around;
  flex-wrap: wrap;

}

@media screen and (max-width:400px) {
  .head-bar {
    padding: 1.3rem;
  }

  .head-bar h2 {
    font-size: 16px;
  }

  .head-bar p {
    font-size: 14px;
    margin: 0;
  }
}